# IntelliJ #
#####################
.idea/
*.iml
*.iws

# Eclipse #
#####################
.classpath
.project
.settings/

# Maven Directories #
#####################
target/
test-results/
log/

# OS X #
#####################
.DS_Store
